/WordScramble/WordScramble.xcodeproj/project.xcworkspace/xcuserdata/acicartagena.xcuserdatad/UserInterfaceState.xcuserstate
/WordScramble/.DS_Store
/WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata/acicartagena.xcuserdatad/UserInterfaceState.xcuserstate
/Animations/Animations.xcodeproj/project.xcworkspace/xcuserdata/acicartagena.xcuserdatad/UserInterfaceState.xcuserstate
/Animations/.DS_Store
/.DS_Store
/MyPlayground.playground
*.xcuserstate
